<link rel="apple-touch-icon" sizes="57x57" href="/picfit/images/favicon.png&w=57&h=57&op=resize">
<link rel="apple-touch-icon" sizes="60x60" href="/picfit/images/favicon.png&w=60&h=60&op=resize">
<link rel="apple-touch-icon" sizes="72x72" href="/picfit/images/favicon.png&w=72&h=72&op=resize">
<link rel="apple-touch-icon" sizes="76x76" href="/picfit/images/favicon.png&w=76&h=76&op=resize">
<link rel="apple-touch-icon" sizes="114x114" href="/picfit/images/favicon.png&w=114&h=114&op=resize">
<link rel="apple-touch-icon" sizes="120x120" href="/picfit/images/favicon.png&w=120&h=120&op=resize">
<link rel="apple-touch-icon" sizes="144x144" href="/picfit/images/favicon.png&w=144&h=144&op=resize">
<link rel="apple-touch-icon" sizes="152x152" href="/picfit/images/favicon.png&w=152&h=152&op=resize">
<link rel="apple-touch-icon" sizes="180x180" href="/picfit/images/favicon.png&w=180&h=180&op=resize">
<link rel="icon" type="image/png" href="/picfit/images/favicon.png&w=32&h=32&op=resize" sizes="32x32">
<link rel="icon" type="image/png" href="/picfit/images/favicon.png&w=192&h=192&op=resize" sizes="192x192">
<link rel="icon" type="image/png" href="/picfit/images/favicon.png&w=96&h=96&op=resize" sizes="96x96">
<link rel="icon" type="image/png" href="/picfit/images/favicon.png&w=16&h=16&op=resize" sizes="16x16">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="msapplication-TileColor" content="#6bbfff">
<meta name="msapplication-TileImage" content="/picfit/images/favicon.png&w=144&h=144&op=resize">
<meta name="theme-color" content="#6bbfff">
