<div class="page__mastfoot">
    <div class="inner">
        <ul class="outlinks quicknav">
            <li class="outlinks__item">
                <a href="https://github.com/andrewhowdencom/" target="_blank">
                    <img class="outlinks__image" src="/images/icons/github.svg" />
                </a>
            </li>
            <li class="outlinks__item">
                <a href="https://twitter.com/andrewhowdencom/" target="_blank">
                    <img class="outlinks__image" src="/images/icons/twitter.svg" />
                </a>
            </li>
        </ul>
        <p>{{ .Site.Copyright | safeHTML }}</p>
    </div>
</div>
