<head lang="en-AU" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ partial "favicon.html" . }}

    <link rel="manifest" href="/manifest.json">
    <!-- At this point, you're probably thinking: "What a dweeb! He just stuck multiple CSS files in the head".
         Well, curious friend, I'm trying to decide if this is a good thing or not. This site is probably
         serving you over H/2 (check chrome://net-internals), which means the TCP penalty for additional
         connections is nearly negligable.

         If i can use components in my CSS design, I can probably drop the amount of CSS I'm shipping you
         all together. Isn't that fun! I don't know if there's a rendering penalty though. It's something
         I'm looking into. -->
    <link rel="stylesheet" href="/css/styles.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/alerts.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/cover.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/page.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/mastfoot.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/masthead.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/quicknav.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/splash.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/typography.css?gen={{ .Site.Params.CssVersion }}">

    <script type="text/javascript">
      var require = {
        'baseUrl': '/js/', 
        'urlArgs': 'gen={{ .Site.Params.AppVersion }}'
      }
    </script>

    <script type="text/javascript" src="/js/enqueue.js?gen={{ .Site.Params.AppVersion }}"></script>
    <script type="text/javascript" src="/js/vendor/require.js?gen={{ .Site.Params.AppVersion }}"></script>
    <script type="text/javascript" src="/js/app.js?gen={{ .Site.Params.AppVersion }}" async defer></script>
    <meta name="description" content="{{ .Description }}">

    <title>{{ .Site.Title }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" href="{{ .RSSlink }}" type="application/rss+xml" title="{{ .Site.Title }}">
</head>
