<head lang="en-AU" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/styles.css?gen={{ .Site.Params.Css.Styles }}">

    <meta name="description" content="{{ .Description }}">

    <title>{{ .Site.Title }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" href="{{ .RSSlink }}" type="application/rss+xml" title="{{ .Site.Title }}">
</head>
