.masthead {
    background: $header-background-color;
    z-index: $zindex-header;

    @media (min-width: map-get($grid-breakpoints, md)) {
        width: $page-width-large;
    }
}

.masthead-brand,
.masthead-logo {
    float: left;
}

.masthead-logo {
    width: $logo-width;
    height: $logo-height;
    margin-top: -.75rem;
    margin-right: $spacer-x;

    .svg-logo {
        fill: $logo-color;
    }
}
