@import '../variables.css';

.alert {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: var(--padding-large-horizontal);
  margin-bottom: var(--padding-large-vertical);
  padding: var(--padding-base-vertical) var(--padding-base-horizontal);
}

.alert--info {
  background: var(--alert-info-background);
  color: var(--alert-info-color);
}
