@import '../variables.css';

.cover {
    margin-right: auto;
    margin-left: auto;

    @media(--screen-md) {
        max-width: var(--page-width-large);
    }
}

.cover__content {
    padding: 0 1.5rem;
}
