@import '../variables.css';

.cover {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--padding-large-horizontal);

    @media(--screen-md) {
        max-width: var(--page-width-large);
    }
}

.cover__content {
    padding: 0 1.5rem;
}
