@import '../variables.css';

/* ul */.taxonomy {}

/* li */.taxonomy__item {}

/* Reset any existing markers for lists */
.taxonomy__item::before {
    content: '';
    margin-right: 0;
}

/* h1, h2, h3, h4, h5 */.taxonomy__item__title {
    display: inline-block;
}