@import '../variables.css';

.masthead {
  background-color: var(--page-bg-color);
  height: var(--masthead-height);
  padding: var(--padding-large-vertical) var(--padding-large-horizontal);
  max-width: var(--page-width-large);
  margin-left: auto;
  margin-right: auto;
}

.masthead__logo {
  height: calc(var(--masthead-height) - (2 * var(--padding-base-vertical)));
  float: left;
  fill: var(--logo-fill);
}

.masthead__logo:hover {
  fill: var(--logo-fill-hover);
}

.masthead__nav {
  float: right;
}

.masthead__brand {
  display: inline-block;
  padding-top: var(--padding-base-vertical);
  font-size: 1.2em;

  @media(--screen-sm) {
    padding-top: 0;
    font-size: 2em;
  }
}
