@import '../variables.css';

html,
body {
  height: 100%;
}

body {
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: var(--padding-base-vertical) var(--padding-base-horizontal);
}

.page__masthead,
.mage__mastfoot {
  flex: none;
}

.page__masthead {
}

.page__content {
  flex: 1 0 auto;
}

.page__content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  height: 0;
  visibility: hidden;
}
