@import '../variables.css';

html,
body {
  height: 100%;
}

body {
  text-align: center;
}

.page__masthead{
  position: fixed;
  top: 0;
  width: 100%;
}

.page__content {
  margin-top: calc(var(--masthead-height) + var(--padding-base-vertical));
}
