@import '../variables.css';

cite {
  font-family: var(--font-family-monospace);
  font-size: .95em;
  color: var(--post-inline-code-color);
}

em {
  font-weight: bold;
}


blockquote {
  font-style: italic;
}

.reference {
  text-decoration: underline;
}

.tip {
  padding: var(--padding-base-vertical) var(--padding-base-horizontal);
  border: solid var(--border-width-thin);
  border-left-width: 15px;
  margin-bottom: var(--padding-small-vertical);
}

.tip p {
  margin-top: 0;
  margin-bottom: var(--padding-small-vertical);
}

.tip.idea {
  border-color: var(--success-border-colour);
  background-color: var(--success-background-colour);
}

.tip.info {
  border-color: var(--info-border-colour);
  background-color: var(--info-background-colour);
}

.tip.error {
  border-color: var(--danger-border-colour);
  background-color: var(--danger-background-colour);
}

.tip.warning {
  border-color: var(--warning-border-colour);
  background-color: var(--warning-background-colour);
}

.comment {
  display: none;
}

.citation-reference {
  vertical-align: super;
  font-size: .75em;
}

.fn-backref {
  margin-right: var(--padding-small-horizontal);
}

.fn-backref::after {
  content: '-';
  margin-left: var(--padding-small-horizontal);
}

/* rst2html2 creates multiple h1 elements, and differentiates the first h1
  with the class "title". We're overcoming that limitation here. */
.page__content--blog h1 {
  font-size: var(--font-size-h2);
}

.page__content--blog h2 {
  font-size: var(--font-size-h3);
}

.page__content--blog .title {
  font-size: var(--font-size-h1);
}

/*table*/.docutils {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

/*table*/.docutils th,
/*table*/.docutils td {
  border: none;
}

/*table*/.docutils td {
  padding: var(--padding-small-vertical) var(--padding-small-horizontal);
}

/*table*/.docutils tr:first-of-type td {
  padding: var(--padding-small-vertical) var(--padding-small-horizontal);
  background: var(--table-header-background-color);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--table-header-text-color);
}
