@import '../variables';
.progress {
    display: block;
    width: 70px;
    height: 70px;
    position: relative;
    line-height: 70px;
    text-align: center;
    clear: both;
}

.progress__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}

.progress__clearfix {
  display: flex;
  flex-flow: row wrap;
}

.progress__circle {
    stroke: var(--border-color-primary);
}
.progress--10 .progress__circle {
    stroke-dasharray: 44px;
}
.progress--20 .progress__circle {
    stroke-dasharray: 5px;
}
.progress--30 .progress__circle {
    stroke-dasharray: 57px;
}
.progress--40 .progress__circle {
    stroke-dasharray: 76px;
}
.progress--50 .progress__circle {
    stroke-dasharray: 95px;
}
.progress--60 .progress__circle {
    stroke-dasharray: 114px;
}
.progress--70 .progress__circle {
    stroke-dasharray: 133px;
}
.progress--80 .progress__circle {
    stroke-dasharray: 152px;
}
.progress--90 .progress__circle {
    stroke-dasharray: 171px;
}
.progress--10044 .progress__circle {
    stroke-dasharray: 190px;
}
