<!DOCTYPE html> {{ partial "head.html" . }}
<body class="post page">
    {{ partial "gtm.html" . }} {{ partial "masthead.html" . }}
    <div class="page__content page__content--blog">
        {{ .Content }}
    </div>
    <div class="page__metadata">
      <dl>
        <dt>Written On</dt>
        <dd id="js-written-date">{{ .Date.Format .Site.Params.DateForm }}</dd>
      </dl>
    </div>
    {{ partial "footer.html" . }}

    <!-- This CSS isn't load bearing, so it can be included later, and force a recalc -->
    <link rel="stylesheet" href="/css/vendor/code.css?gen={{ .Site.Params.CssVersion }}">
    <link rel="stylesheet" href="/css/components/post.css?gen={{ .Site.Params.CssVersion }}">
</body>
