<!DOCTYPE html> {{ partial "head.html" . }}

<body>
    {{ partial "gtm.html" . }}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover">
                {{ partial "masthead.html" . }}
                <div class="inner cover__content">
                    <h1 class="cover-heading">404 - Not Found</h1>
                    <p class="lead">These are not the droids you are looking
                    for. </p>
                </div>
                {{ partial "footer.html" . }}
            </div>
        </div>
    </div>
</body>
