<!DOCTYPE html> {{ partial "head.html" . }}

<body class="page">
    {{ partial "gtm.html" . }} {{ partial "masthead.html" . }}
    <div class="page__content page__content splash">
        <div class="site-wrapper-inner">
            <div class="cover">
                <div class="inner cover__content">
                    <h1 class="cover-heading">Magneto · Web · Linux</h1>
                    <p class="lead">
                        I think simple things are usually better, and the most progress is made in small steps out of habit.
                    </p>
                    <p class="lead">
                        Offline first all the things.
                    </p>
                    <p class="lead">hello[at]andrewhowden.com · +6143 808 0411</p>
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>
