// scss-lint:disable all -- Never edit this file.

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

/* Extra markup and styles for table-esque vertical and horizontal centering */

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  background-color: transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}
