:root {
  /* Custom media queries*/
  @custom-media --screen-xs (min-width: 0);
  @custom-media --screen-sm (min-width: 544px);
  @custom-media --screen-md (min-width: 768px);
  @custom-media --screen-lg (min-width: 992px);
  @custom-media --screen-xl (min-width: 1200px);

  --alert-info-background: #39393D;
  --alert-info-color: #ffffff;

  /* Border things */
  --border-width-base: 2px;
  --border-width-thin: 1px;
  --border-color-primary: #243746;
  --border-color-path: #D1E8F0;

  --font-family-monospace: "Courier New", Courier, monospace;

  /* Font sizes come from the Chrome UI Stylesheet */
  --font-size-h1: 2em;
  --font-size-h2: 1.5em;
  --font-size-h3: 1.17em;

  /* Message Colours */
  /* Colours from Bootstrap.
     See https://github.com/twbs/bootstrap/blob/master/less/variables.less */

  --colour-danger: #d9534f;
  --colour-info: #5bc0de;
  --colour-success: #5cb85c;
  --colour-warning: #f0ad4e;

  --danger-background-colour: #f2dede;
  --danger-text-colour: #a94442;
  --danger-border-colour: var(--colour-danger);

  --info-background-colour: #d9edf7;
  --info-text-colour: #colour;
  --info-border-colour: var(--colour-info);

  --success-background-colour: #dff0d8;
  --success-text-colour: #3c763d;
  --success-border-colour: var(--colour-success);

  --warning-background-colour: #fcf8e3;
  --warning-text-colour: #331200;
  --warning-border-colour: var(--colour-warning);

  /* Css variables taken from the bootstrap 4 alpha */
  --screen-bp-xs: 0;
  --screen-bp-sm: 544px;
  --screen-bp-md: 768px;
  --screen-bp-lg: 992px;
  --screen-bp-xl: 1200px;

  --heading-color: #243746;

  --logo-fill: #6bbfff;
  --logo-fill-hover: #243746;

  --link-color: #243746;

  --masthead-height: 50px;

  --nav-link-background-colour: #6bbfff;
  --nav-link-background-color-hover: #243746;
  --nav-link-width: 25px;

  --padding-small-vertical: 4px;
  --padding-base-vertical: 6px;
  --padding-large-vertical: 10px;

  --padding-small-horizontal: 6px;
  --padding-base-horizontal: 10px;
  --padding-large-horizontal: 16px;

  --page-bg-color: #ffffff;
  --page-width-large: 62em;

  --post-inline-code-color: #d44950;

  --table-header-background-color: #6bbfff;
  --table-header-text-color: #ffffff;

  --z-index-alert: 1000;
}
