.post {
    .site-wrapper-inner {
        text-align: left;
        vertical-align: top;

        @media(min-width: map-get($grid-breakpoints, sm)) {
            padding-top: 85px;
        }
    }
}

.site-wrapper {
    // scss-lint:disable ColorVariable VendorPrefix - To be delt with another day.
    display: table;
    width: 100%;
    // For at least Firefox
    height: 100%;
    min-height: 100%;
}
